{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<h3 class="pb-5">Sell</h3>
    <form action="/sell" method="post">
        <label for="symbols" class="mb-3">Choose a symbol:</label>
        <select autofocus required name="symbol" id="symbols" class="mb-3">
            <option disabled selected value="">Symbol</option>
            {% for row in table %}
                {% if row["SUM(shares)"] != 0 %}
                    <option value="{{ row['symbol'] }}">{{ row["symbol"] }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <div class="mb-3">
            <input autocomplete="off" required class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
